:root {
  --text-primary-color: rgb(17, 2, 83);
}
h1 {
  color: var(--text-primary-color) !important;
  font-size: 40px !important;
  font-weight: 100;
  line-height: 28px;
  font-weight: 900 !important;
  margin: 0;
  text-shadow: 1px 3px 1px #ffca2c;
}
p,
.search-form input {
  font-size: 16px;
}

ul {
  padding-left: 0 !important;
}

li {
  color: var(--text-primary-color);
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  text-align: left;
  background: linear-gradient(
    111.5deg,
    rgb(187, 232, 255) 11.1%,
    rgb(61, 106, 255) 107.5%
  );
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin: 0 5px 0 10px;
  display: block;
  float: left;
}

.temperature {
  color: var(--text-primary-color);
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  font-size: 24px;
  color: var(--text-primary-color);
  font-weight: bold;
}

.units a {
  text-decoration: none;
  font-weight: 500;
}

.search-form {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}

.footer a {
  font-weight: bold;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: 000;
}

.WeatherForecast {
  text-align: center;
  display: flex;
  color: var(--text-primary-color);
  margin: 20px -5px 0 -5px !important;
  background: #ebf7ff;
  border: 1px solid rgb(162, 162, 162);
  box-shadow: 3px 3px 5px rgb(2, 50, 106);
}
.WeatherForecast .col {
  padding: 0;
  border: 1px solid rgb(177, 177, 177);
  width: 60px !important;
  justify-content: space-evenly;
  padding-top: 10px;
  box-shadow: inset -3px -1px 5px rgb(177, 177, 177);
}

.WeatherForecast .col:hover {
  opacity: 0.5;
  transition: ease-in-out 200ms;
}

.temp_min {
  opacity: 0.6;
  padding-left: 5px;
}

.weekday {
  font-weight: 900;
  font-size: 20px;
}
